/* FrameTagger - CSS Import Manifest */
@import './styles/theme.css';
@import './styles/sidebar.css';
@import './styles/layout.css';
@import './styles/controls.css';
@import './styles/images.css';
@import './styles/tags.css';
@import './styles/modals.css';
@import './styles/notifications.css';